<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borders</title>

    <link rel="stylesheet" href="./src/css/borders.css">
</head>
<body>
   <h1>Ejemplo de bordes</h1> 

   <!-- Dotted -->
    <div class="border-example dotted">
        <p>Borde punteado (Dotted)</p>
    </div>

    <!-- Dashed -->
    <div class="border-example dashed">
        <p>Borde Discontinuo (Dashed)</p>
    </div>

    <!-- Solid -->
    <div class="border-example solid">
        <p>Borde Solido (solid)</p>
    </div>

    <!-- Double -->
    <div class="border-example double">
        <p>Borde Doble (Double)</p>
    </div>

    <!-- Groove -->
    <div class="border-example groove">
        <p>Borde (Groove)</p>
    </div>
</body>
</html>