body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}


.container {
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 90%;
}


.container-header {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   
}

.logo-sura {
    width: 150px;
}

.nav-buttons {
    display: flex;
}

.nav-button, .logout-button {
    width: 180px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.nav-button {
    background-color: white;
    color: #004a99;
}

.nav-button:hover {
    background-color: #003d80;
    color: white;
}

.logout-button {
    background-color: red;
    color: white;
}

.logout-button:hover {
    background-color: darkred;
}

.importante {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
    padding: 15px;
    border-radius: 5px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 90%;
    margin: 0 auto 20px;
}

.importante strong {
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    width: 90%;
    margin: 0 auto;
}

label {
    font-weight: bold;
    align-self: flex-start;
    width: 100%;
}

input, select, button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}


table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th {
    background-color: #007bff;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cabezas{
    color: #004a99;
}

.container header,
.container form,
.importante,
.container h2,
table {
    margin-bottom: 20px;
}

